#probesys {
  display: flex;
  flex: 1;
  padding: 1em;
  flex-direction: column;
  overflow-y: auto;
  gap: 1em;
  overflow-x: hidden; /* Prevent outer scroll */
}

#probesys .title {
  text-transform: uppercase;
  font-weight: bold;
}

#probesys .main-title {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  color: var(--ui-header-text);
  align-self: flex-start;
}

#probesys .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

#probesys .quick-select-deco svg {
  fill: oklch(0.95 0.05 90);
}

#probesys .ephemerals {
  position: relative;
  left: 1em;
}

#probesys .probe-entry .live-offside .code .code-text .token {
  color: var(--G2) !important;
}

#probesys .probe-view .live-env {
  display: none;
}

#probesys .probe-view .live-offside > *:not(.closure-groups) {
  display: none;
}

#probesys .probe-entry {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 1em;
}

#probesys .legend {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding: 0.5em;
  outline: 1px solid var(--BR1);
  border-radius: 0.3em;
  color: var(--BR2);
}

#probesys .legend .projector {
  position: relative;
  pointer-events: none;
  justify-content: start;
  margin-left: 0.5em;
}
