#probesys {
  display: flex;
  flex: 1;
  padding: 1em;
  flex-direction: column;
  overflow-y: auto;
  gap: 1em;
  overflow-x: hidden; /* Prevent outer scroll */
}

#probesys .title {
  /* text-transform: uppercase;
  font-weight: bold; */
}

#probesys .main-title {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  color: var(--ui-header-text);
  align-self: flex-start;
}

#probesys .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

#probesys .quick-select-deco svg {
  fill: oklch(0.93 0.06 90.1);
}

#probesys .ephemerals {
  position: relative;
  left: 1em;
}

#probesys .probe-entry .live-offside .code .code-text .token {
  color: var(--G2) !important;
}

#probesys .probe-view .live-env {
  display: none;
}

#probesys .probe-view .live-offside > *:not(.closure-groups) {
  display: none;
}

#probesys .probe-entry {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 1em;
}

#probesys .legend {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 0.5rem; /* adjust spacing between items */
  justify-items: stretch; /* or center if you prefer tighter layout */
}

#probesys .panel {
  padding: 0.5em;
  outline: 1px solid var(--BR1);
  border-radius: 0.3em;
  color: var(--BR2);
  overflow: clip;
}

#probesys .sketch {
  display: flex;
  align-items: center;
  justify-content: center;
}

#probesys .sketch > img {
  width: 140px;
}

#probesys .legend .title {
  grid-column: 1 / -1; /* span full width of the grid */
  justify-self: start; /* left align */
}

#probesys .panel.call-cursor .title {
  padding-bottom: 0.5em;
}

#probesys .panel.call-cursor {
  /* display: flex;
  flex-direction: column;
  gap: 0.1em; */
}

#probesys .legend .projector {
  position: relative;
  pointer-events: none;
  justify-content: center;
  text-align: center;
}

#probesys .quick-select-deco svg {
  stroke: var(--T1);
}

#probesys .is-index .quick-select-deco svg {
  stroke: var(--BR1);
  z-index: 1;
}

#probesys .indicated-call .quick-select-deco svg {
  stroke: var(--R1);
  z-index: 2;
}
