/* CELL: This is an ill-defined category at the moment;
 * ~ everything below the main panel, but above the code
 * display in the hierarchy */

#mousedown-overlay {
  cursor: text;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: var(--overlay-z);
}

#clipboard-shim {
  /* probably overkill for hiding it... */
  position: fixed;
  opacity: 0.01;
  width: 1em;
  height: 1em;
  top: -1em;
  left: -1em;
}

.code-container {
  position: relative;
}

#main .code-editor {
  /* Only code in primary editor is selectable atm */
  cursor: text;
}

.cell {
  border: none;
  border-radius: 0.4em;
  width: fit-content;
  min-width: 100%;
}

.cell > * {
  padding-left: 1em;
  padding: 1em;
  padding-left: 1.2em;
}

.cell-item {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Scratch .cell {
  background-color: var(--cell-active);
}

.Documentation .cell {
  background-color: var(--cell-active);
}

.cell:has(.code-editor.selected) {
  background-color: var(--cell-active);
}

.result .cell-item {
  padding: 0em
}

.title-cell {
  padding-left: 1em;
  padding-top: 0;
  padding-bottom: 0;
}

.title-cell .title-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--BR4);
}

.title-cell .title-placeholder {
  font-style: italic;
  color: var(--BR4);
  opacity: 0.5;
}

.edit-icon {
  margin-left: 0.5em;
  cursor: pointer;
  fill: #7a6219;
}

.title-cell .title-edit {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--light-text-color);
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.title-edit .edit-icon:hover {
  animation: wobble 0.6s ease 0s 1 normal forwards;
}

.wrong-impl-cell-caption {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.instructor-edit-icon {
  margin-top: 0.175em;
  margin-left: 1em;
  cursor: pointer;
  fill: #7a6219;
}

#add-icon {
  margin-left: 0em;
}

.instructor-edit-icon:hover {
  animation: wobble 0.6s ease 0s 1 normal forwards;
}

/* DOCUMENTATION SLIDES */

.slide-img {
  border-radius: 0.4em;
  margin-bottom: 1em;
}

#slide {
  background-color: var(--cell-active);
  padding: 1em;
}

.slide h1 {
  margin-top: 0;
  color: var(--BR4);
}

.em {
  font-style: italic;
}

/* ??? */

.file-select-button {
  display: none;
}

/* EDITING */

.cell-module-name {
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.module-name-text {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.module-name-edit {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.module-name-edit label {
  white-space: nowrap;
}

.module-name-edit input {
  margin: 0 0.5em;
}

.module-name-edit .edit-icon {
  display: inline-flex;
  align-items: center;
  margin-left: 0.5em;
}

.module-placeholder {
  display: inline;
  font-style: italic;
  color: var(--BR4);
  opacity: 0.5;
}

.cell-prompt {
  padding: 1em;
}

.prompt-edit .prompt-text {
  width: 500px;
  height: 300px;
  padding: 10px;
  font-size: 16px;

  white-space: pre-wrap;
  word-wrap: break-word;
}

.cell-prompt .prompt-edit {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--light-text-color);
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.cell-prompt .prompt-placeholder {
  font-style: italic;
  color: var(--BR4);
  opacity: 0.5;
}

.prompt-content {
  font-size: 1rem;
}

.edit-icon {
  margin-left: 0.5em;
  cursor: pointer;
  fill: #7a6219;
  display: inline-flex;
  vertical-align: top;
}

.edit-icon:hover {
  animation: wobble 0.6s ease 0s 1 normal forwards;
}

.point-num-input {
  width: 50px;
  font-size: 12px;
}