.projector.csv .cancel-button {
    cursor: pointer;
    color: var(--R1);
}

.projector.csv .csv-loaded-container .reset-button {
    cursor: pointer;
    color: var(--R1);
    padding: 0.2em 0.3em;
    border-radius: 3px;
    transition: background-color 0.2s ease;
}

.projector.csv .csv-loaded-container .reset-button:hover {
    background-color: var(--R1);
    color: white;
}

.projector.csv .csv-loaded-container .toggle-switch {
    margin-left: 0.5em;
    cursor: pointer;
}
